archive/
bin/
build/
dist/
include/
lib/
.tox/
.tox/dist/
.cache/
.pytest_cache
__pycache__
*.pyc
*.log
.coverage*
*.egg-info/
*.egg-info
*.zip
pdf2textbox.egg-info/
pdf2textbox.egg-info/PKG-INFO
.tox/dist/pdf2textbox*
