include *.in
include *.json
include *.rc
include *.rst
include *.txt
include LICENSE
include tox.ini
recursive-include man *.1
recursive-include pdf2textbox *.buildinfo
recursive-include pdf2textbox *.css
recursive-include pdf2textbox *.doctree
recursive-include pdf2textbox *.gif
recursive-include pdf2textbox *.html
recursive-include pdf2textbox *.inv
recursive-include pdf2textbox *.js
recursive-include pdf2textbox *.nojekyll
recursive-include pdf2textbox *.pdf
recursive-include pdf2textbox *.pickle
recursive-include pdf2textbox *.png
recursive-include pdf2textbox *.py
recursive-include pdf2textbox *.rst
recursive-include pdf2textbox *.txt
recursive-include pdf2textbox Makefile
recursive-include tests *.py

exclude pdf2textbox/tags
exclude tests/tags
exclude *.log

recursive-exclude .tox *

prune .tox
prune .cache
prune include
